<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>design</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename = 'style.css')}}">

    <script src="https://kit.fontawesome.com/a076d05399.js" ></script>
</head>
<body>
    <nav>
        <a ><img src="{{url_for('static', filename = 'images/logo2.jpg')}}"></a>
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn">
            <i class="fas fa-bars"></i>
        </label>
        
        <!-- <label class= "logo">Rang Design</label> -->
        <!-- <a><img src="1.jpeg"></a> -->
        <ul>
            <li><a class="home" href="#">Home</a></li>
            <li class="active"><a href="#">Design</a></li>
            <li class="Services"><a href="#">Services</a></li>
            <li class="Aboutus"><a href="#">About Us</a></li>
            <li class="Contactus"><a href="#">Contect Us</a></li>
            <li class="Feedback"><a href="#">Feedback</a></li>
            
        </ul>
        
    </nav>
   
    
</body>
</html>