*{
    padding:0;
    margin:0;
     text-decoration: none;
    /* list-style: none; */ 
    /* box-sizing: border-box; */
    font-family: 'Baloo Bhai 2', cursive;

}
body{
    font-family: FontAwesome;
    text-decoration: none;
    list-style:none;
}
nav ul li a{
    align-items: center;
    transition:all 0.5s ease-in 0.3s;
}
nav ul li a:hover{
    color:white;
    background-color:rgb(241, 100, 100);
    height:auto;
    width:auto;
    border-radius: 5px;
    font-size:large;
    
     
}

nav ul li a:hover{
    /* background-color: darkgreen; */
    border:2px solid white;
    color:black;
}


img{
    width:200px;
    height:80px;
    
}
a .backimg{
    height:auto;
    width:auto;
}
nav{
    background:rgb(228 211 211);
    height: 80px;
    width:100%;
    position: relative;
    transition:all 1s ease-in-out .3s;
    /* animation-name: nav;
    animation-duration: 2s;
    animation-iteration-count: 1; */
    
}
/* @keyframes nav{
    from{
        color:white;
    }
    to{
        color:black;
    }
} */


nav:hover{
    color:rgb(212, 240, 110);
    
}


label.logo{
    color:rgb(233, 164, 164);
    font-size:35px;
    display:inline-block;
    line-height: 50px;
    margin:0;
    padding:0 6px;
    font-weight: bold;
    box-sizing:border-box;
}
nav ul{
    float:right;
    font-size:50px;
    margin: 0;
}
nav ul li{
    display:inline-block;
    line-height:50px;
    margin:0 5px;
}

nav ul li a{
    color:black;
    font-size:17px;
    padding:7px 13px;
    margin-top:100px;
    border-radius: 3px;
    text-transform: uppercase;
}

.checkbtn{
    font-size:30px;
    color:red;
    float:right;
    line-height:80px;
    margin-right: 40px;
    cursor: pointer;
    display:none;
}

#check{
    display:none;
}
@media(max-width:1035px){
    label.logo{
        font-size:30px;
        padding-left: 50px;
    }
    nav ul li a{
        font-size:16px;
    }
}
@media(max-width:1015px){
    .checkbtn{
        display:block;
    }
    ul{
        position: fixed;
        width:100%;
        height:100vh;
        background: #2c3e50;
        top:80px;
        margin-top: auto;
        left:-100%;
        transition:all 0.5s;
        text-align: center;
    }
    nav ul li{
        display:block;
        
    }
    nav ul li a{
        font-size:20px;
    }
    a:hover, a:active{
        background: none;
        color:#0082e6;
    }
    #check:checked~ul{
        left: 0;
        margin: 0;
    }
}


.card-group{
    display:flex;
    margin:auto;
    
}
.card-img-top{
    margin:0px;
    border: 2px solid black;
    width: 100%;
    display: flex;
    position: relative;

    height: 100%;
    

}
.card-group:active{
    margin:0px;
    border: 2px solid black;
    width: 100px;
    height: 100px;
    content: "Hello My name is om";
    display: contents;
     animation-name:rang;
    animation-duration:2s;
    animation-iteration-count: 1; 
    animation-fill-mode: alternate; 
    animation-delay: 0.2s; 

}
.card{
    margin-top:5px;
    margin:5px;
    background-color:rgb(240, 240, 128);
    
}
/* @keyframes rang{
    from{
        height: 0;
        color:rgb(219, 168, 168);
    }
    to {
        height:0;
        color:red;
    }
} */


.card-body{
    position: relative;

}


div .card-group{
    display: flex;
    justify-content: center;
    width: 100%;
}