<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename = 'stylesheets/loginstyle.css')}}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
    <title>login form</title>
</head>

<body>

    <body>
        {% if email == null %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>You are not logged in!</strong> Please! enter email and password
        </div>
        <div class="col-md-6 login-form-2">
            <h3>Login for Form </h3>
            <form action="/" method='POST'>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Your Email *" name="email" value="" />
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Your Password *" name="password"
                        value="" />
                </div>
                <div class="form-group">
                    <input type="submit" class="btnSubmit" value="Login" onclick="location.href='/show';" />

                </div>
                <div class="form-group">

                    <a href="/" class="ForgetPwd" value="Login">Forget Password?</a>
                </div>
            </form>
        </div>

        {% else %}
        
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>You already logged in!</strong>  please click below button
        </div>
        <td><a id="Home" href='/home' type="button"
            class="btn mx-0 my-0 btn-sm btn-outline-dark ">Check out this page</a></td>

        {% endif %}
    </body>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>